# gitignore
venv
!venv/requirements.txt
docs/site
cluster-config/rendered/*
!cluster-config/rendered/README.md
cluster-resources/services/minecraft/minecraft-secrets.yaml
cluster-resources/infrastructure/harbor/harbor-secrets.yaml
cluster-resources/services/registry-key/harbor-secrets-registry.yaml
cluster-resources/infrastructure/ddns/secret.yaml
.DS_Store
!*gpg
local
