apiVersion: apps/v1
kind: Deployment
metadata:
  name: ddns-updater
  labels:
    app: ddns-updater
  namespace: ddns
spec:
  selector:
    matchLabels:
      app: ddns-updater
  template:
    metadata:
      labels:
        app: ddns-updater
    spec:
      containers:
        - name: ddns
          image: qmcgaw/ddns-updater:v2.8
          envFrom:
            - secretRef:
                name: ddns-updater-config
          ports:
            - containerPort: 8000
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
            runAsNonRoot: true
